.example-card {
    max-width: 250px;
}

.example-card.Adventure {
    background-color: yellowgreen;
}

.example-card.FPS {
    background-color: red;
}

.example-card.Stealth {
    background-color: burlywood;
}

.example-header-image {
    background-size: cover;
}

.img {
    height: 100px;    
    width: 100px;    
}